<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>mr.user.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>mr.post.servlet.PostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>mr.post.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminUserServlet</servlet-name>
    <servlet-class>mr.user.servlet.admin.AdminUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminPostServlet</servlet-name>
    <servlet-class>mr.post.servlet.admin.AdminPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUserServlet</servlet-name>
    <url-pattern>/AdminUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminPostServlet</servlet-name>
    <url-pattern>/AdminPostServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>loginFilter</display-name>
    <filter-name>loginFilter</filter-name>
    <filter-class>mr.user.servlet.Filter.loginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <servlet-name>PostServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <servlet-name>CommentServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/room/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>adminLoginFilter</display-name>
    <filter-name>adminLoginFilter</filter-name>
    <filter-class>mr.user.servlet.Filter.adminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminLoginFilter</filter-name>
    <servlet-name>AdminPostServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>adminLoginFilter</filter-name>
    <url-pattern>/admin/main.jsp</url-pattern>
    <url-pattern>/admin/users.jsp</url-pattern>
    <url-pattern>/admin/posts.jsp</url-pattern>
  </filter-mapping>
</web-app>